.products-overview{
    width: 1600px;
    margin: auto;
    background-color: rgb(238, 251, 238);
    margin-top: 10px;
}

.products-overview td, .products-overview th{
    background-color: rgb(241, 249, 241);
    text-align: start;
    padding: 15px;
}

.products-overview img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (max-width: 600px) {
    .products-overview{
        width: 400px;
        overflow: scroll;

    }

    .products-overview tr{
        width: 1600px;
        margin: auto;
    }

}