.testimony{
    width: 350px;
    height: 230px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-color: orange;
    border-width: 2px;
    border-radius: 5px;
    text-align: justify;
    padding: 30px 3px;
}

.testimony img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 15px;
}

.testimony p{
    text-align: justify;
    padding: 0 10px;
}
