.customer-reviews{
    width: 450px;
    padding: 15px;
}

.review{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.review .bi-star-fill{
    font-size: 20px;
    color: blue;
}

.percentage-container{
    width: 100%;
    height: 15px;
    margin: 0;
    border-radius: 10px;
    background-color: rgb(220, 218, 218);
}

.percentage-65, .percentage-75, .percentage-80, .percentage-20, .percentage-5{
    height: 100%;
    background-color: rgb(19, 47, 209);
    border-radius: 10px;
}

.percentage-20{
    width: 20%;
}

.percentage-75{
    width: 75%;
}

.percentage-65{
    width: 65%;
}

.percentage-80{
    width: 85%;
}

.percentage-5{
    width: 5%;
}