.orders-vs-sales{
    width: 750px;
}

.orders-vs-sales .chart-container{
    margin-top: 30px;
}

@media screen and (max-width: 600px) {
    .orders-vs-sales .chart-container{
        width: 750px;
    }

    .orders-vs-sales{
        width: 400px;
        overflow: scroll;
    }
}