
.navbar{
    background-color: white;
    position: sticky;
    top: 0;
    padding: 0;
}

.navbar a{
    margin: 10px;
    text-decoration: none;
    color: inherit;
}

.navbar a:hover, .navbar a:focus{
    color: orange;
}

.navbar .cart-quantity{
    font-size: 20px;
    font-weight: bold;
}

.navbar .bi-cart4{
    font-size: 30px;
}


.offcanvas .bi-x-circle{
    font-size: 40px;
    color: black;
    margin: 10px auto;
}

.offcanvas{
    text-align: start;
}

.offcanvas > * > *{
    margin: 10px;
}

.offcanvas > * > * > *{
    margin: 10px;
}

.offcanvas a{
    color: black;
    text-decoration: none;
}
