.navbar{
    background-color: rgb(232, 244, 232);
    margin-top: 0;
}

.navbar a{
    margin: 10px;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
}

.navbar a:hover{
    color: orange;
}

.navbar .cart-quantity{
    font-size: 20px;
    font-weight: bold;
}

.navbar .bi-cart4{
    font-size: 30px;
}

nav{
    margin: 10px 0;
}

.offcanvas{
    background-color: rgb(234, 248, 234);
}

.offcanvas .bi-x-circle{
    font-size: 40px;
    color: black;
    margin: 10px auto;
}

.offcanvas > * > *{
    margin: 10px;
}

.offcanvas > * > * > *{
    margin: 10px;
}

.offcanvas a{
    color: black;
    text-decoration: none;
}
