.home > *{
    padding: 40px 0;
}

.home h1{
    padding: 20px;
}

.your-veg img{
    background-color: inherit;
    mix-blend-mode: multiply;
}

.home .home-services, .best-sellers, .stats, .skilled-team{
    background-color: rgb(245, 245, 245);
}