.home > *{
    padding: 40px 0;
}

.home h1{
    padding: 20px;
}

.your-veg img{
    background-color: inherit;
    mix-blend-mode: multiply;
}

.dark-background{
    background-color: rgb(245, 245, 244);
}