.offers .products-container > *{
    width: 600px;
    margin: 15px;
}

.offers .image-container{
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

.offers .image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: multiply;
}

.offers .details p{
    font-size: 18px;
    text-align: justify;
}

.offers li{
    list-style-type: none;
    padding: 0;
}

.offers ul{
    text-align: start;
}

.offers button{
    padding: 2%;
    width: 200px;
    background-color: orange;
    border: none;
    color: white;
    font-weight: bold;
}

.offers button:hover{
    background-color: gold;
}

@media screen and (max-width: 600px) {
    .offers .image-container{
        width: 350px;
        height: 350px;
        border-radius: 50%;
    }
}