.skilled-team .member{
    margin: 15px;
}

.skilled-team i{
    font-size: 22px;
    margin: 10px;
}

.skilled-team .member > *{
    margin-bottom: 10px;
}

.skilled-team h6{
    color: orange;
}

.skilled-team .member .image-container{
    display: block;
    width: 260px;
    height: 260px;
    border-radius: 50%;
}

.skilled-team img{
    border-radius: 50%;
}