.your-veg-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.your-veg-container .details, ul{
    text-align: start;
}


.your-veg-container > *{
    width: 600px;
    margin: 15px;

}

.your-veg-container .image-container{
    height: 400px;
    width: 400px;
    border: solid;
    border-color: green;
    border-radius: 50%;
}

.your-veg-container img{
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 600px) {
    .your-veg-container .image-container{
        height: 350px;
        width: 350px;
    }
}