.cart-item{
    border: solid;
    border-radius: 5px;
    border-color: rgb(198, 197, 197);
    border-width: 2px;
    margin: 0px;
    padding: 15px 0;
}

.cart-item img{
    width: 60px;
    height: 70px;
    margin: 0 10px;
}

.cart-item > *{
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.cart-item > * > *{
    margin: auto 0;
}