.cart-item{
    border: solid;
    border-radius: 5px;
    border-color: grey;
    border-width: 1px;
    margin: 0px;
    padding: 15px 0;
}

.cart-item > *{
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}