.card-images-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.payment-method img{
    width: 40px;
    height: 25px;
    border-radius: 5px;
    margin: 2px;
}

.payment-method form{
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: rgb(208, 208, 208);
}

.order-btn-container{
    margin: 30px;
}

.order-btn-container button{
    background-color: black;
    color: white;
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

.order-btn-container button:hover{
    background-color: orange;
}