.cart-section{
    width: 90%;
    margin: auto;
}

.cart-section table{
    margin: auto;
}

.cart-section tr{
    background-color: rgb(227, 226, 226);
    margin: 15px;
}

.cart-section tr > *{
    width: 350px;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
}

.cart-section img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cart-section .details{
    padding-top: 30px;
}


.cart-section button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}

.cart-section .checkout-btn-container{
    margin-top: 30px;
}

.cart-section .checkout-btn{
    width: 300px;
    margin-top: 50px;
    padding: 1%;
    background-color: green;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    border-radius: 5px;
}

.checkout-btn .bi{
    font-size: 22px;
}

@media screen and (max-width: 600px) {
    .cart-section .details{
        padding: 10px;
    }
}