.about-us .contents-container{
    padding: 30px 0;
    
}


.about-us .contents-container > *{
    max-width: 500px;
    text-align: start;
    margin: 15px;
}


.about-us .contents-container .details{
    margin: auto 15px;
}

.about-us .contents-container .image-container{
    width: 400px;
    height: 450px;
}

.about-us .contents-container img{
    border-radius: 0px 30px;
}

.about-us .main-content > *{
    padding: 50px 0;
}