

.products-and-categories-container{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   position: relative;
   margin: auto;
   padding: 50px 0;
}

@media screen and (max-width: 600px) {

    .products-display .banner{
        height: 200px;
    }
    
}